{% extends "::base.html.twig" %}

{% block body %}

    <h1>Lista Autorów</h1>

    <ol>

        {% for author in authors %}
            <h4>
                <li>{{ author.fullName }} | <a href="/showAuthor/{{ author.id }}">szczegóły</a></li>
            </h4>
        {% endfor %}



    </ol>

{% endblock %}
