{% extends "::base.html.twig" %}

{% block body %}

    <h1>Szczegóły Autora</h1>

    <h4> Autor: <u>{{ author.fullName }}</u></h4>

    <p>Książki: <u>{{ bookCounter }}</u></p>

    <ul>
    {%for book in author.books%}
        <li><a href="/showBook/0/{{book.id}}">{{book.title}}</a></li>
    {%endfor%}
    </ul>

{% endblock %}
