{% extends 'base.html.twig' %}

{% block title %}Wszystkie książki{% endblock %}

{% block body %}

   {% for book in allBook %}

        {{ book.title}}</br>
        {{ book.author.name }} </br>
        <a href="deleteBook/{{book.id}}">Usuń</a>
        <hr>
   {% endfor %}

   {% for book in bookGreatherThen %}
        {{ book.title }}
   {% endfor %}

{% endblock %}