{% extends "::base.html.twig" %}

{% block body %}

    <ol>

    {% for book in books %}
        <h4><li>{{ book.title }} | <a href="{{ path('showBook', {'created':0, 'id': book.id}) }}">szczegóły</a> |
                <a href="{{ path('deleteBook', {'id': book.id}) }}">usuń</a></li></h4>
    {% endfor %}

    </ol>

{% endblock %}