{% extends "::base.html.twig" %}

{% block titleSite %}
    {{ app.request.attributes.get("_controller")}}
{% endblock %}


{% block title %}Witaj w widoku dla zadania A3{% endblock %}

{% block body %}
    <h4>Witaj w widoku dla zadania A3 (src)</h4>
    <p>
        Widok znajduje się tutaj: {{ _self.getTemplateName() }}
    </p>
{% endblock %}
