<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block titleSite %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="{{ path('app_view_render') }}">{{ 'render' | trans }}</a>
                </li>
                <li>
                    <a href="{{ url('app_view_showallarticles') }}">ShowAllArticles</a>
                </li>
            </ul>
        </nav>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
